body {
  background: #79a09d;
}

.main-container {
  margin: 5px auto;
  box-shadow: 0px 0px 10px black;
  width: 75%;
  padding-bottom: 27%;
  position: relative;
  overflow: hidden;
  font-size: 24px;
  background: #c5c5c5;
  border-radius: 1em;
}

.main-container div {
  padding: 2px;
}

.msg {
  position: absolute;
  top: 35%;
  left: 37%;
  z-index: 100;
  background: rgb(124, 29, 29);
  text-align: center;
  color: white;
  border-radius: 1em;
}

.msg h2 {
  padding: 10px 25px;
}

.msg p {
  padding: 10px;
}

.below {
  width: 73%;
  margin: 5px auto;
}

.score {
  float: left;
  margin-top: 1px;
}

.info {
  float: right;
  margin-top: 1px;
}

.insert {
  margin: auto;
  border-radius: 20%;
  width: 40%;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
  height: 1.5em;
  text-align: center;
  background: #dfdfdf;
}

.keyboard {
  width: 75%;
  margin: 2px auto;
}

.key-row {
  width: 100%;
}

.keyboard-container {
  width: 100%;
}

.keyboard-container .keyboard-btn {
  width: 6.666667%;
  border: 1px solid gray;
  background: #dfdfdf;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-align: center;
  line-height: 3.1em;
  float: left;
  cursor: pointer;
}

.keyboard-container .keyboard-btn:hover {
  background: #a5a4a4;
}

.keyboard-container .three {
  width: 10%;
}

.keyboard-container .four {
  width: 13.333333%;
}

.keyboard-container .five {
  width: 16.666667%;
}

.keyboard-container .space {
  width: 60%;
}